:root{
  --font-family: 'Roboto', sans-serif;
  --item-color: #5A5858;
  --item-orange: #FF9018;
  --light-blue: #1A72E8;
  --dark-blue: #051E34;
}

body{
  font-family: var(--font-family);
}
/* HEADER */
header{
  height: 70px;
}

header .img-desktop{
  display: none;
}


.orange-item{
  color: var(--item-orange);
} 

header i{
  color: var(--item-color);
}

header .tag-header i{
  display: none;
}

header .tag-header i:last-child{
  display: block;
}

/* /HEADER */


/* CONTAINER LEFT */
.container-left{
  width: 60px;
  background-color: var(--dark-blue);
  height: calc(100vh - 70px);
}

.container-left .top-left-item,
.container-left .bottom-left-item{
  align-items: center;
}

.container-left .top-left-item span,
.container-left .bottom-left-item span{ 
  font-family: var(--font-family);
  display: none;
}

.container-left i{
  font-size: 1.5rem;
  padding: 3px;
}

.container-left i:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.container-left .top-left-item i:first-child{
  margin-top: 30px;
}

.container-left .top-left-item i{
  margin-top: 15px;
}

.container-left .bottom-left-item i{
  margin-bottom: 20px;
}

/* /CONTAINER LEFT */


/* CONTAINER-RIGHT */
.container-right{
  width: calc(100% - 60px);
  overflow: auto;
  height: calc(100vh - 70px);
}

.container-right .top-container-right{
  background-color: var(--light-blue);
}

.container-right .main-container-right,
.container-right .main-container-right {
  height: calc(100vh - 60px);

}

.table-img-first{
  width: 30px;
}

.mc-btn-dashboard{
  background-color: #165BBA;
}

.offcanvas.show {
  width: 100%;
}

/* /CONTAINER-RIGHT */



@media screen and (min-width:768px){

  /* HEADER */

  header .img-mobile{
    display: none;
  }

  header .img-desktop{
    display: block;
    width: 150px;
    margin-left: 15px;
  }

  header .tag-header i{
    display: block;
  }

  /*/ HEADER */

  /* CONTAINER-LEFT */
  .container-left{
    width: 150px;
    background-color: var(--dark-blue);
  }


  .container-left .top-left-item,
  .container-left .bottom-left-item{
    align-items: baseline;
  }

  .container-left i{
    font-size: 1rem;
  }
  

  .container-left .top-left-item span,
  .container-left .bottom-left-item span{ 
  display: inline-block;
  margin-left: 10px;
}

    /* CONTAINER-LEFT */


    /* CONTAINER-RIGHT */

    .container-right{
    width: calc(100% - 150px);
    overflow: auto;
  }

  .offcanvas.show {
    width: 50%;
  }

  /* /CONTAINER-RIGHT */
}
